<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
            <h5 class="title">Ask for a trip</h5>
        </div>
        <div class="card-body ">
          <!--<div id="map" class="map"></div> -->
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Place of Departure</label>
                    <input [(ngModel)]="departurePlace" type="text" class="form-control" placeholder="Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Place of Arrival</label>
                    <input [(ngModel)]="arrivalPlace" type="text" class="form-control" placeholder="Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Expected Rate</label>
                    <input [(ngModel)]="rate" type="number" class="form-control" placeholder="price of the rate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" >
                    <button class="btn btn-primary btn-block" (click)="addTrip()">Order</button>
                </div>
              </div>
              
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
